<button ng-click="show = !show" ng-show="!show">Change Password</button>
<button ng-click="show = !show" ng-show="show">Close</button>

<form name="passForm" ng-show="show">

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="" ng-model="user.password" required minlength="8">
    <span ng-show="passForm.password.$touched && passForm.password.$invalid">Enter a valid password.</span>
  </div>

  <div>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" placeholder="" ng-model="user.new_password" required minlength="8">
    <span ng-show="passForm.new_password.$touched && passForm.new_password.$invalid">Enter a valid new password.</span>
  </div>

  <button type="submit" ng-disabled="passForm.$invalid" ng-click="changePassword()">Submit</button>
  
</form>